a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

heading {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700
}

name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.toggle {
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background-color: black;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  top: 3px;
  left: 3px;
  transition: transform 0.2s;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"]:checked + .toggle::before {
  transform: translateX(24px);
}

input[type="checkbox"]:checked + .toggle {
  background-color: rgb(29, 180, 231);
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode a {
  color: rgb(0, 157, 255);
}

.dark-mode-link {
  color: rgb(0, 157, 255);
}

.dark-mode #particles-js {
  background-color: rgb(48, 46, 46);
}
